

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="index.html">TradEasy</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="#">My Portfolio</a></li>
          <li><a class="nav-link scrollto" href="/trading-history">History</a></li>
          <li><a class="nav-link scrollto active" href="/order">Order Stock</a></li>
          <li><a class="nav-link scrollto" href="/team">Team</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{{today}}</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Order Stock</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
<div class="row">
    <div class="column" style="margin-top:5px">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <a href="javascript:void(0)">
              <h5 class=" title">Select from Available Stocks! </h5>
            </a>
          </div>
          <div class=" card-description">          
          <div *ngIf="Traders.length !== 0">
	<div class="col-md-12">
	  <table class="table table-bordered">
		<thead>
		  <tr>
			<th scope="col">Stock Ticker</th>
			<th scope="col">Price</th>

		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let trader of Traders">

			<td>{{trader.stockTicker}}</td>
			<td>{{trader.price}}</td>
      	<td>
			  <a [routerLink]="['/confirmbuy/'+trader.stockTicker]" class="btn btn-danger btn-sm float-right" style="background-color: #5846f9; border-color: #5846f9;">Order Now</a>
			</td>

			
		  </tr>
		</tbody>
	  </table>
	</div>




          </div>
        </div>
        <div class=" author">
            <a href="javascript:void(0)">
              <h5 class=" title">Sell from your stocks! </h5>
            </a>
          </div>
          <div class=" card-description">          
          <div *ngIf="Traders.length !== 0">
	<div class="col-md-12">
	  <table class="table table-bordered">
		<thead>
		  <tr>
			<th scope="col">Stock Ticker</th>
			<th scope="col">Price</th>
      <th scop="col">Volume</th>

		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let trader of TradersUser">

			<td>{{trader.stockTicker}}</td>
			<td>{{trader.price}}</td>
      <td>{{trader.volume}}</td>
      	<td>
			  <a [routerLink]="['/confirmsell/'+trader.stockTicker]" class="btn btn-danger btn-sm float-right" style="background-color: #5846f9; border-color: #5846f9;">Sell Now</a>
			</td>

			
		  </tr>
		</tbody>
	  </table>
	</div>




          </div>
        </div>
        
        </div>

      
    
    <div class="column" style="margin-top:30px">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header"><h5 class="title">If you can't find one, tell us a stock you'd like to trade!</h5></div>
        <div class="card-body">
            <div class="row">
              <div class=" col-md-5 pr-md-1">
            
                <div class="form-group">
                
                  <label> Select an available stock </label>
                  <input
                    type="text"
                    [(ngModel)]="traderDetails.stockTicker"
                    class="form-control"
                    placeholder="Select from available"  
                  />
                  
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <label> Price </label>
                  <input
                    type="text"
                    [(ngModel)]="traderDetails.price"
                    class="form-control"
                    placeholder="0"
                    
                    
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                    


              </div>
              </div>
            </div>
            <div class=" row">
             <div class=" col-md-4 pl-md-1">
                <div class="form-group">
                  <label> Volume </label>
                  <input type="text" [(ngModel)]="traderDetails.volume" class="form-control" placeholder="0"/>
                </div>
              </div>
            </div>
        
        
<div class="input-group mb-3" style="margin-top:20px">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Buy/Sell</label>
  </div>
  <select class="custom-select" type="text" [(ngModel)]="traderDetails.buyOrSell" id="inputGroupSelect01">
    <option value="buy">Buy</option>
    <option value="sell">Sell</option>
  </select>
</div>


  </div>

  </div>

  	<div class="form-group" style="margin-top:10px">
	  <button class="btn btn-success btn-lg btn-block" style="background-color: #5846f9; border-color: #5846f9;" (click)="addTrader()">Order Now</button>
	</div>
</div>
  </div>
  </div>
</div>
</div>
</div>
</section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

  <!-- ======= Header ======= -->
    <div class="container d-flex align-items-center justify-content-between">
 
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="#hero">My Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#about">History</a></li>
          <li><a class="nav-link scrollto active" href="#portfolio">Order Stock</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
    
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
 

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

