<button class="btn btn-outline-primary" routerLink="/order">Order Stock</button>


<!-- Traders list table, it hides when there is no trader -->
<div *ngIf="Traders.length !== 0">
	<div class="col-md-12">
	  <table class="table table-bordered">
		<thead>
		  <tr>
			<th scope="col">Trader Id</th>
			<th scope="col">Stock Ticker</th>
			<th scope="col">Price</th>
			<th scope="col">Volume</th>
			<th scope="col">Buy/Sell</th>
			<th scope="col">Status Code</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let trader of Traders">
			<td>{{trader.id}}</td>
			<td>{{trader.stockTicker}}</td>
			<td>{{trader.price}}</td>
			<td>{{trader.volume}}</td>
			<td>{{trader.buyOrSell}}</td>
			<td>{{trader.statusCode}}</td>
			<td>
			  <a [routerLink]="['/trader-edit/', trader.id]" class="btn btn-primary btn-sm float-right">Edit</a>&nbsp;
			  <a [routerLink]="" (click)="deleteTrader(trader.id)" class="btn btn-danger btn-sm float-right">Delete</a>
			</td>
		  </tr>
		</tbody>
	  </table>
	</div>
</div>



