<button class="btn btn-outline-primary" routerLink="/trader-list">List Traders</button>

<div class="col-md-12">
	<h3 class="mb-3 text-center">Let's Trade! What would you like to do today?</h3>
	<div class="form-group row">
	  <label class="control-label col-md-12">Stock Ticker</label>
	  <input type="text" [(ngModel)]="traderDetails.stockTicker" class="form-control">
	</div>

	<div class="form-group row">
	  <label class="control-label col-md-12">Price</label>
	  <input type="text" [(ngModel)]="traderDetails.price" class="form-control">
	</div>

		<div class="form-group row">
	  <label class="control-label col-md-12">Volume</label>
	  <input type="text" [(ngModel)]="traderDetails.volume" class="form-control">
	</div>

		<div class="form-group row">
	  <label class="control-label col-md-12">buy Or Sell?</label>
	  <input type="text" [(ngModel)]="traderDetails.buyOrSell" class="form-control">
	</div>


	<div class="form-group">
	  <button class="btn btn-success btn-lg btn-block" (click)="addTrader()">Add Trade</button>
	</div>
</div>
