

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="index.html">TradEasy</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="#">My Portfolio</a></li>
          <li><a class="nav-link scrollto" href="/trading-history">History</a></li>
          <li><a class="nav-link scrollto" href="/order">Order Stock</a></li>
          <li><a class="nav-link scrollto active" href="/team">Team</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

          <div class="intro">
            <h1 class="text-center">Meet our team</h1>
        </div>
        

      </div>
    </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
    <div class="container">
  <div class="row">
    <div class="col-sm" style="margin-top:50px">
      <div class="box" style="margin-bottom:150px"><img class="rounded-circle" data-bs-hover-animate="pulse" src="https://i.ibb.co/vjG30QB/aarthi-2.jpg" style="height:200px">
                    <div style="margin-top:20px">
                    <h3 class="text-center">Aarthi</h3>
                    <p class="text-center">Developer</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
                </div>
    </div>
    <div class="col-sm" style="margin-top:50px">
      <div class="box" style="margin-bottom:150px"><img class="rounded-circle" data-bs-hover-animate="pulse" src="https://ca.slack-edge.com/T028TBFHFFW-U029FA12JTE-49c5f6be5323-512" style="height:200px">
                    <div style="margin-top:20px">
                    <h3 class="text-center">Fathima</h3>
                    <p class="text-center">Developer</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
                </div>
    </div>
    <div class="col-sm" style="margin-top:50px">
      <div class="box" style="margin-bottom:150px"><img class="rounded-circle" data-bs-hover-animate="pulse" src="https://ca.slack-edge.com/T028TBFHFFW-U029F9UMMHS-9f3c23a27a46-512" style="height:200px">
                    <div style="margin-top:20px">
                    <h3 class="text-center">Nageshwari</h3>
                    <p class="text-center">Developer</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
                </div>
    </div>
    <div class="col-sm" style="margin-top:50px">
      <div class="box" style="margin-bottom:150px"><img class="rounded-circle" data-bs-hover-animate="pulse" src="https://i.ibb.co/4dB10MS/T028-TBFHFFW-U029-MP1-L6-KB-1aaf88d0bc41-512.jpg" style="height:200px">
                    <div style="margin-top:20px">
                    <h3 class="text-center">Pradhakshya</h3>
                    <p class="text-center">Developer</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
                </div>
    </div>
    <div class="col-sm" style="margin-top:50px">
      <div class="box" style="margin-bottom:150px"><img class="rounded-circle" data-bs-hover-animate="pulse" src="https://i.ibb.co/p44gG8g/Whats-App-Image-2021-09-01-at-11-29-24-2.jpg" style="height:200px">
                    <div style="margin-top:20px">
                    <h3 class="text-center">Sreekar</h3>
                    <p class="text-center">Developer</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
                </div>
    </div>
  </div>
</div>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

  <!-- ======= Header ======= -->
    <div class="container d-flex align-items-center justify-content-between">
 
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="#hero">My Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#about">History</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Order Stock</a></li>
          <li><a class="nav-link scrollto active" href="#team">Team</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
    
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
 

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

