

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="index.html">TradEasy</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="#">My Portfolio</a></li>
          <li><a class="nav-link scrollto active" href="/trading-history">History</a></li>
          <li><a class="nav-link scrollto" href="/order">Order Stock</a></li>
          <li><a class="nav-link scrollto" href="/team">Team</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{{today}}</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>History</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">

    <div style="margin-top:30px">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <a href="javascript:void(0)">
              <h5 class=" title">Here are all your trades!</h5>
            </a>
          </div>
          <div class=" card-description">          
          <div *ngIf="Traders.length !== 0">
	<div class="col-md-12">
	  <table class="table table-bordered">
		<thead>
		  <tr>
      <th scope="col">TimeStamp</th>
			<th scope="col">Stock Ticker</th>
			<th scope="col">Price</th>
			<th scope="col">Volume</th>
			<th scope="col">Buy/Sell</th>
			<th scope="col">Status Code</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let trader of Traders">
      <td>{{trader.date_Time}}</td>
			<td>{{trader.stockTicker}}</td>
			<td>{{trader.price}}</td>
			<td>{{trader.statusCode}}</td>
			<td>{{trader.buyOrSell}}</td>
      <td style="background-color:{{indic}}">{{trader.volume}}</td>
			
			<!--<td>
			  <a [routerLink]="['/trader-edit/', trader.id]" class="btn btn-primary btn-sm float-right">Edit</a>&nbsp;
			  <a [routerLink]="" (click)="deleteTrader(trader.id)" class="btn btn-danger btn-sm float-right">Delete</a>
			</td>-->
		  </tr>
		</tbody>
	  </table>
	</div>
</div>



          </div>
        </div>
        <div class=" card-footer">
          </div>
        </div>
      </div>
   
 

</section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

  <!-- ======= Header ======= -->
    <div class="container d-flex align-items-center justify-content-between">
 
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="#hero">My Portfolio</a></li>
          <li><a class="nav-link scrollto active" href="#about">History</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Order Stock</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
    
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
 

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

